<?xml version="1.0" encoding="utf-8"?>
<!-- Last modified: 2025-11-10 15:30 - Changed to use LOCAL IP from WebRTC -->
<configuration>
  <system.webServer>
    <!-- Handler cho iisnode -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    
    <!-- Thiết lập default document -->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="server.js" />
      </files>
    </defaultDocument>
    
    <!-- URL Rewrite Rules -->
    <rewrite>
      <rules>
        <!-- KHÔNG rewrite các file tĩnh - để IIS serve trực tiếp -->
        <rule name="StaticContent" stopProcessing="true">
          <match url="^(public|uploads|icon|admin|node_modules)/.*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>
        
        <!-- Socket.IO với IP forwarding -->
        <rule name="SocketIO" stopProcessing="true">
          <match url="^socket\.io/.*" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <!-- Node.js với IP forwarding -->
        <rule name="NodeInspector" stopProcessing="true">
          <match url="^server.js" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="Rewrite" url="server.js" />
        </rule>
        
        <!-- Dynamic content với IP forwarding -->
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <match url="(.*)" />
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_ADDR}" />
          </serverVariables>
          <action type="Rewrite" url="server.js" />
        </rule>
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8080/{R:1}" />
                    <conditions>
                        <add input="HTTP_X_FORWARDED_FOR" pattern=".*" negate="true" />
                    </conditions>
                </rule>
      </rules>
    </rewrite>
    
    <!-- Tắt cache cho development -->
    <staticContent>
      <clientCache cacheControlMode="DisableCache" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    
    <!-- Cấu hình iisnode -->
    <iisnode node_env="development" nodeProcessCountPerApplication="1" watchedFiles="*.js;*.html;*.css" loggingEnabled="true" logDirectory="iisnode" devErrorsEnabled="true" debuggingEnabled="true" />
    
    <!-- Bảo mật -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    
    <!-- Tắt output caching -->
    <caching enabled="false" />
    
    <!-- HTTP Response Headers - Tắt cache -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>
    
    <!-- Tắt directory browsing -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
