html {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}

ul {
	background: none; margin: 0px; padding: 0px; outline: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline;
}

body {
	no-repeat top rgb(255, 255, 255); line-height: 1.5 !important; font-family: Tahoma, Geneva, sans-serif; font-size: 12px;
}
a {
	color: rgb(255, 0, 0); font-size: 13px; text-decoration: none;
}


.banner {
  width: 100%;
  padding-bottom: 1px;
  padding-top: 15px;
  text-align: center;
}


#full #wraper_full {
	width: 100%; 
    float: left; 
    margin: 0 auto;
}

#wraper_full #main .left {
	width: 20%; 
    float: left;
    margin: 0 auto;
}

#wraper_full #main .left .box {
    background: rgba(230, 230, 250, 0.4);
    margin: 0 auto; 
    border-radius: 4px; 
    box-shadow: 1px 1px 2px #000000; 
    height:350px;

}

#wraper_full #main .left .box1 {
	background-image: linear-gradient( #FFFFFF, #A9F5BC, #FFFFFF); 
    margin: 1px; 
    border-radius: 4px; 
    box-shadow: 1px 1px 2px #000000; 
    height:25px;
    padding-top : 8px;
    
}

#wraper_full #main .left .box1:hover {
    margin: 1px; 
    border-radius: 4px; 
    height:25px;
    padding-top : 8px;
}

#wraper_full #main .left .box1 h1 {
    height: 30px; 
    text-align: center; 
    color: #F2F5A9; 
    line-height: 35px; 
    font-size: 14px; 
    font-weight: bold; 
    vertical-align: middle;
    margin: 0 auto;
}

#full #wraper_full #main .left .box ul {
	margin: 5px 5px 5px 18px; 
    padding-bottom: 8px; 
    list-style-type: none;
}
#full #wraper_full #main .left .box ul li {
	padding: 6px; 
    width: 82%;
}
#full #wraper_full #main .left .box ul li a {
    color: #0B0B61; 
    font-size: 12px; 
    font-weight: bold;
}
#full #wraper_full #main .left .box ul li a:hover {
    text-shadow: 0px 0px 10px white; 
    color: rgb(0, 204, 102);
}

#full #wraper_full #main .left .box ul li:hover {
	background-image: linear-gradient(#54FF9F, #00CD00, #54FF9F); 
    border-radius: 4px;
}
#full #wraper_full #main .left .box ul li:hover a {
	color: rgb(255, 255, 255);
	
}
#full #wraper_full #main .left .box ul li:active {
	background: rgb(255, 153, 51);
}
#full #wraper_full #main .left .box a {
	text-align: center;
}

#wraper_full #main .left .box {
	padding-top: 5px;
}

#full #wraper_full #main .left .box ul li {
	padding: 6px 6px 6px 23px;
}
#full #wraper_full #main .left .box ul {
	padding-bottom: 8px; 
    margin-top: 5px; 
    margin-right: 5px; 
    margin-bottom: 5px; 
    list-style-type: none;
}

.text 
{  
cursor: default;  
font: bold 40px/normal "Wellfleet", Helvetica, sans-serif;  
color: rgba(0,0,255,0.6);  
text-align: center;  
text-shadow: 0 1px 0 rgb(204,204,204) , 0 2px 0 rgb(201,201,201) , 0 3px 0 rgb(187,187,187) , 0 4px 0 rgb(185,185,185) , 0 5px 0 rgb(170,170,170) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 5px 10px rgba(0,0,0,0.247059) , 0 10px 10px rgba(0,0,0,0.2) , 0 20px 20px rgba(0,0,0,0.14902) ;  
transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.text:hover 
{  
color: rgba(0,0,0,0.6);  
text-shadow: 0 1px 0 rgba(255,255,255,1) , 0 2px 0 rgba(255,255,255,1) , 0 3px 0 rgba(255,255,255,1) , 0 4px 0 rgba(255,255,255,1) , 0 5px 0 rgba(255,255,255,1) , 0 6px 1px rgba(0,0,0,0.0980392) , 0 0 5px rgba(0,0,0,0.0980392) , 0 1px 3px rgba(0,0,0,0.298039) , 0 3px 5px rgba(0,0,0,0.2) , 0 -5px 10px rgba(0,0,0,0.247059) , 0 -7px 10px rgba(0,0,0,0.2) , 0 -15px 20px rgba(0,0,0,0.14902) ;  
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}

.menu_text 
{  
box-sizing: content-box;  
cursor: default;  
border: 1;  
font: bold 15px/normal "Wellfleet", Helvetica, sans-serif;  
color: #EE0000;  
text-align: center;  
}

.middle_center
{
    border-style: none;
    float: left;
    border-radius: 2px;
    padding: 10px 24px;
    background: rgba(230, 230, 250, 0.4); /* màu của Quản trị mạng ^^ */
    text-align: center;
    width:100%;
    height: 150px;
    box-shadow: 1px 1px 2px #000000;
}


/*VE DUOG KE DOC*/
.vertical-line{
      width: 1px; /* Line width */
      background-color: #777777; /* Line color */
      height: 100%; /* Override in-line if you want specific height. */
      float: left;
    }

/* Style the topnav links */

.bottom_end {
    float: left;
    border-radius: 4px;
    background-image: linear-gradient( #088A68, #088A4B, #088A68); /* màu của Quản trị mạng ^^ */
    width:100%;
    height: 80px; 
    padding-bottom: 15px;
    box-shadow: 1px 1px 2px #000000;
}
.bottom_end a {
  float: left;
  text-align: center;
  padding: 5px 50px;
  cursor: default;  
}

.bottom_end c {
  float: right;
  color: #f2f2f2;
  text-align: right;
  padding: 27px 50px;
  cursor: default; 
}

.table_top {
    width: 100%;
    height: 40px;
}
.table_top_1 {
    width: 80%;
    color:#FF0000;
}
.table_top_2 {
    width: 20%;
    text-align: right;
} 





